<div class="fr-field-state-write-wrapper" ng-show="field.state.editMode">
    <textarea
        fr-validation
        ng-model="ngModel"
        ng-class="{
            'invalid': field.validation.error.length > 0,
            'valid': field.validation.error.length === 0
        }"
        data-validation="field.validation"
        id="{{ field.attrs.id }}"
        name="{{ field.attrs.name }}"
        class="field full textarea"
        placeholder="{{ field.attrs.placeholder }}">
    </textarea>
</div>
<div class="fr-field-state-read-wrapper" ng-if="!field.state.editMode">
    <p class="fr-p" ng-bind-html="ngModelInit"></p>
</div>
